<!DOCTYPE html>
<html>
<head>
    <title>CareerLens</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="hero">

    <h1>🚀 CareerLens</h1>

    <p>
        Discover Trending Skills, Hiring Locations
        and Career Insights through Data Analytics
    </p>

    <a href="/dashboard">
        <button>Explore Dashboard</button>
    </a>

</div>

<div class="features">

    <div class="card">
        <h2>📊 Skill Analytics</h2>
        <p>Analyze the most demanded skills.</p>
    </div>

    <div class="card">
        <h2>📍 Job Locations</h2>
        <p>Discover top hiring cities.</p>
    </div>

    <div class="card">
        <h2>💼 Career Insights</h2>
        <p>Understand industry trends.</p>
    </div>

</div>

</body>
</html>