
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #334155
    );
    min-height:100vh;
    color:white;
}

/* Title */

.title{
    text-align:center;
    font-size:50px;
    color:#38bdf8;
    margin-top:30px;
}

.subtitle{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:30px;
    font-size:18px;
}

/* Statistics Cards */

.stats{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:30px;
}

.stat-card{
    background:#1e293b;
    width:220px;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(56,189,248,0.4);
    transition:0.3s;
}

.stat-card:hover{
    transform:translateY(-8px);
}

.stat-card h2{
    color:#38bdf8;
    font-size:35px;
}

/* Chart Containers */

.chart-box{
    background:#1e293b;
    width:80%;
    max-width:800px;
    height:400px;
    margin:30px auto;
    padding:20px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(56,189,248,0.3);
}

canvas{
    width:100% !important;
    height:100% !important;
}

/* Recommendations */

.recommendations{
    background:#1e293b;
    width:80%;
    max-width:800px;
    margin:30px auto;
    padding:25px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(34,197,94,0.3);
}

.recommendations h2{
    color:#22c55e;
    margin-bottom:15px;
}

.recommendations ul{
    list-style:none;
}

.recommendations li{
    padding:10px;
    font-size:18px;
    border-bottom:1px solid #334155;
}

/* Home Page */

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:70px;
    color:#38bdf8;
}

.hero p{
    font-size:22px;
    margin-top:20px;
    color:#cbd5e1;
}

button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:linear-gradient(
        45deg,
        #06b6d4,
        #3b82f6
    );
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

/* Feature Cards */

.features{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-bottom:50px;
}

.card{
    width:300px;
    background:#1e293b;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(56,189,248,0.3);
}

.card h2{
    color:#38bdf8;
    margin-bottom:10px;
}

.card p{
    color:#cbd5e1;
}
